.container {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-top: 3em;
  min-width: 600px;
}

.side {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tetris {
	border: solid 0.2em #fff;
	height: 80vh;
}