.highscores {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 240px;
	padding: 1em;
	border-radius: 5px;
	color: white;
}

.highscores h3 {
  padding: 4px;
}

.date {
	font-size: 0.8em;
	color: gray;
}

.small {
  font-size: 0.8em;
  color: gray;
}

.score {
  color: darkgoldenrod;
}

@media (max-width: 1220px) {
  .highscores {
    display: none;
  }
}
