.highscores {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 240px;
  background: #80808030;
  padding: 1em;
  border-radius: 5px;
  color: white;
}
.highscores h3 {
  text-align: center;
  padding-bottom: 1em;
}
.date {
  font-size: 0.8em;
  color: gray;
}