body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
}
#container {
  display: flex;
  justify-content: center;
}
.side {
  text-align: center;
  margin: 1em;
}
.center {
}

#tetris {
  border: solid 0.2em #fff;
  height: 70vh;
}
#next {
  border: solid 0.2em #fff;
  height: 20vh;
}
#hold {
  border: solid 0.2em #fff;
  height: 20vh;
}
